$red-color: #D90429;
$black-color: #020202;
$dirtyWhite-color: #FFF6F8;
$gray-color: #5A5A5A;
$white-color: #FFFFFF;

$max-width: 1024px;
$mid-width: 768px;
$min-width: 390px;

$logo-height: 10vh;
$logo-width: 120px;